@media (max-width: 768px) {

body {
  font-family: 'Crimson Text', serif;
  font-size: 12px;
  background-image: url("../img/mobilebackground.jpg");
  background-size: cover;
}

/*nav*/
#index nav {
display: none;
}

#index #intro {
 display: none;
}

#index #mobile {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 500px;
  background-color: rgba(122, 121, 130, 0.8);
  border: 2px solid rgba(122, 121, 130, 0.9);
  overflow: auto;
}

#about {
display: none;
}

#about img {
display: none;
}

#bio {
display: none;
}

#design {
display: none;
}

#writing {
display: none;
}

#contact {
display: none;
}

}
