@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script|Crimson+Text);

@media (max-width: 320px) {
body {
  font-family: 'Crimson Text', serif;
  font-size: 12px;
}

#index {
  max-width: 320px;
  max-height: 568px;
}

#about {
  max-width: 320px;
  max-height: 568px;
  margin-left: 20px;
}

#about img {
  float: none;
  margin-right: 10px;
}

#bio {
  float: none;
}

#design {
  max-width: 320px;
  max-height: 568px;
}

#photography {
  width: 320px;
}

#writing {
  max-width: 320px;
  max-height: 568px;
}

#contact {
  max-width: 320px;
  max-height: 568px;
}

}
