@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script|Crimson+Text);

@media (max-width: 320px) {
body {
  font-family: 'Crimson Text', serif;
  font-size: 12px;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
  padding: 0px;
}

#index {
  max-width: 320px;
  max-height: 568px;
}

#about {
  max-width: 320px;
  max-height: 568px;
}
}
