@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script|Crimson+Text);

@media (max-width: 320px) {
body {
  font-family: 'Crimson Text', serif;
  font-size: 12px;
}

#index {
  max-width: 320px;
  max-height: 568px;
  background-position: center;
  background-size: cover;
}

#about {
  max-width: 320px;
  max-height: 568px;
}

#about img {
  float: none;
}

#bio {
  float: none;
  width: 320px;
}

}
