@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);


* {
  background: transparent; !important
  color: black;
  font-family: 'Times New Roman' 'Times' serif;
  font-size: 9pt;
}



@page {
  margin:auto;
}


nav {
  display: none;
}


a {
  text-decoration: none;
  color: black;
}

header {
  display: none;
}

footer {
  display: none;
}

head, title {
  display: none;
}


/*headers*/
  h1 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 12pt;
    text-align: center;
    margin-bottom: 0.2in;
  }

  h2 {
    font-family: 'Times New Roman' serif;
    font-size: 10pt;
    text-align: center;
    text-decoration: underline;
  }

  h3 {
    font-size: 9pt;
    margin: auto 0in;
    text-decoration: none;
  }

/*divs*/
#experience {
  position: relative;
}

#rightcol {
  position: absolute;
  left: 3.75in;
}

#leftcol {
  position: absolute;
  right: 3.75in;
}

#volunteerwork {
  position: relative;
  margin-top: 4.2in;
}

#redeemer {
  position: absolute;
  right: 3.75in;
}

#lifechurch {
  position: absolute;
  left: 3.75in;
}

#contact, #skills {
  margin-top: 1in;
  max-width: 8.5in;
  float: left;
}

#contact {
  overflow: auto;
  float: right;
  margin-left: .55in;
}

#skills {
  overflow: auto;
  float: left;
}

#programs {
  overflow: auto;
  float: right;
  margin-left: 1in;
  max-height: 1.2in;
}

#language {
  overflow: auto;
  float: left;
}

#directcontact {
  overflow: auto;
  float: left;
  display: block;
  max-width: 1.3in;
}

#socialmedia {
  overflow: auto;
  float: right;
  display: block;
  max-width: 2in;
  margin-left: .5in;
}
