
body {
  font-size: 50px;
  font-family: "PT Sans", sans-serif;
  color: #222;
}

a {
  color: green;
}

a:visited {
  color:gray;
}

a:hover{
  color: yellow;
}


  h1, h2, h3, h4, h5, h6 {
    background-color: #eee; /* light gray*/
  }
